<%= form_for(@invoice) do |f| %>
  <% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% @invoice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :invoice_start_date %><br>
    <%= f.date_select :invoice_start_date %>
  </div>
  <div class="field">
    <%= f.label :invoice_end_date %><br>
    <%= f.date_select :invoice_end_date %>
  </div>
  <div class="field">
    <%= f.label :customer %><br>
    <%= f.collection_select(:customer_id,
                            User.all,
                            :id,
                            :email,
                            { :prompt => true }) %>
    
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
