<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :account_balance %><br>
    <%= f.text_field :account_balance %>
  </div>
  <div class="field">
    <%= f.label :assigned_id %><br>
    <%= f.text_field :assigned_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
