<h1>Listing customers</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Description</th>
      <th>Account balance</th>
      <th>Assigned</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.email %></td>
        <td><%= customer.description %></td>
        <td><%= customer.account_balance %></td>
        <td><%= customer.assigned_id %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
