<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @line_item.description %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @line_item.amount %>
</p>

<p>
  <strong>Date added:</strong>
  <%= @line_item.date_added %>
</p>

<p>
  <strong>Invoice:</strong>
  <%= @line_item.invoice %>
</p>

<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>
