<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @payment.customer %>
</p>

<p>
  <strong>Invoice:</strong>
  <%= @payment.invoice %>
</p>

<p>
  <strong>Card:</strong>
  <%= @payment.card %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>

<p>
  <strong>Fee:</strong>
  <%= @payment.fee %>
</p>

<p>
  <strong>Date:</strong>
  <%= @payment.date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @payment.status %>
</p>

<p>
  <strong>Description:</strong>
  <%= @payment.description %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
