<%= form_for @plan, html: { class: "form-horizontal" } do |f| %>
  <% if @plan.errors.any? %>
    <%= render "subscriptions/shared/form_errors", { subject: @plan } %>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: "col-lg-4 control-label" %>
    <div class="col-lg-8">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :amount, class: "col-lg-4 control-label" %>
    <div class="col-lg-8">
      <%= f.text_field :amount, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :interval_quantity, class: "col-lg-4 control-label" %>
    <div class="col-lg-8">
      <%= f.number_field :interval_quantity, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :interval_units, class: "col-lg-4 control-label" %>
    <div class="col-lg-8">
      <%= f.select :interval_units, Subscriptions::Plan::INTERVAL_UNITS, { }, { class: "form-control" } %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :trial_period_days, class: "col-lg-4 control-label" %>
    <div class="col-lg-8">
      <%= f.number_field :trial_period_days, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-4 col-lg-8">
      <%= f.submit class: "btn btn-default"  %>
    </div>
  </div>
<% end %>
