<h1>Listing plans</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Interval quantity</th>
      <th>Interval units</th>
      <th>Trial period days</th>
      <th>Assigned</th>
      <th>Group</th>
    </tr>
  </thead>

  <tbody>
    <% @plans.each do |plan| %>
      <tr>
        <td><%= link_to plan.name, plan %></td>
        <td><%= plan.amount %></td>
        <td><%= plan.interval_quantity %></td>
        <td><%= plan.interval_units %></td>
        <td><%= plan.trial_period_days %></td>
        <td><%= plan.assigned_id %></td>
        <td><%= plan.group %></td>
    <% end %>
  </tbody>
</table>

