<% if notice %>
  <div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <%= notice %>
  </div>
<% end %>

<div class='page-header'>
  <h1>
    <%= @plan.name %>
  </h1>
</div>


<h3>
  <%= @plan.description %>
</h3>

<p>
  <strong>Trial period days:</strong>
  <%= @plan.trial_period_days %>
</p>

<p>
  <strong>Assigned:</strong>
  <%= @plan.assigned_id %>
</p>

<p>
  <strong>Group:</strong>
  <%= @plan.group %>
</p>

<%= link_to 'Back', plans_path, class: "btn btn-warning left" %>
<%= link_to "Edit", edit_plan_path(@plan), class: "btn btn-primary left" %>
<%= button_to "delete", @plan, :method => :delete, confirm: 'Are you sure?', class: "btn-xs btn-danger" %>

